@import url(https://fonts.googleapis.com/css?family=Nunito);
@charset "UTF-8";

/* Указываем box sizing */

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  font-family: Roboto;
  color: #FFFFFF;
  text-shadow: 2px 1px 7px #969696;
}

/* Убираем внутренние отступы */

ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/

ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */

img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/

article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.app__container .content {
  min-height: calc(100vh - 80px);
}

.app__shopping-card {
  width: 100%;
}

.header__shop-card-ico {
  height: 50px;
  cursor: pointer;
}

.header__shop-card-ico > img {
  overflow: hidden;
  display: block;
  max-height: 90%;
}

.title1 {
  font-size: 25px;
  text-shadow: none;
  font-family: Roboto;
  color: #606060;
}

.title2 {
  font-size: 20px;
  text-shadow: none;
  font-family: Roboto;
  color: #606060;
}

.title3 {
  font-size: 18px;
  text-shadow: none;
  font-family: Roboto;
  color: #606060;
}

.title4 {
  font-size: 16px;
  text-shadow: none;
  font-family: Roboto;
  color: #606060;
}

.container {
  max-width: 80%;
  margin: 0 auto;
  padding: 15px;
}

.body {
  margin: 10px;
}

.button {
  font-size: 19px;
  display: inline-block;
  padding: 10px;
  background-color: #38c172;
  cursor: pointer;
}

.danger-text {
  text-shadow: none;
  color: #ff2121;
  font-size: 15px;
}

.link {
  color: #1a202c;
  text-shadow: none;
  text-decoration: underline;
}

.app__header {
  width: 100%;
  height: 60px;
  background-color: #38c172;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}

.header__row {
  display: flex;
}

.header__row > * {
  margin: 0 5px;
}

.header__logo {
  flex: 0 0 auto;
  height: 60px;
  padding: 10px 10px 10px 20px;
  display: block;
}

.header__logo > img {
  display: block;
  height: 100%;
}

.header__body {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}

.header__links {
  display: flex;
  align-items: center;
}

.header__link-body {
  margin: 0 9px;
  color: white;
  font-size: 19px;
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
}

.header__link-body > .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.header__link-body:hover > .dropdown {
  display: block;
  border-radius: 5px;
  background-color: #38c172;
  text-align: center;
}

.header__categories {
  display: flex;
  align-items: center;
}

.header__link {
  display: block;
  color: white;
  font-size: 19px;
  transition: transform 0.3s;
}

.dropdown__link {
  display: block;
  padding: 10px;
  background-color: #38c172;
}

.dropdown__link:hover {
  background-color: #43c87a;
}

.header__auth {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.auth-links__item {
  margin: 0 10px;
}

.user-img {
  display: block;
  max-height: 20px;
  margin: 0 10px;
}

.app__footer {
  background-color: #38c172;
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.2);
}

.footer__container {
  max-width: 80%;
  margin: 0 auto;
}

.mp__container {
  width: 90%;
  margin: 20px auto;
}

.mp__title {
  text-align: center;
}

.mp__products-block {
  margin: 10px 0;
}

.auth__container {
  max-width: 40%;
  margin: 30px auto;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding: 20px;
}

.auth__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__title {
  text-align: center;
  margin: 10px 0 20px 0;
}

.auth__body {
  min-width: 100%;
}

.form__item {
  margin: 10px;
}

.form__input {
  width: 100%;
  border: none;
  font-size: 20px;
  padding: 5px;
  color: black;
  text-shadow: none;
  background-color: #f6f6f6;
  border-radius: 5px;
  transition: border-bottom-color 0.3s;
  border-bottom: 3px solid #f6f6f6;
}

.form__input:focus {
  border-bottom-color: #38c172;
}

.form__submit {
  display: block;
  margin: 0 auto;
}

.form__checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
}

.additional-info {
  margin: 20px 0 0 0;
}


